@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>Проекта Home Budget</h2>
</hgroup>

<article>
    <p>HomeBudget e система, предназначена за отчитане на транзакции (приходи и разходи) в персоналния бюджет.
    Целта е да се предостави една лесна за използване система, която да осигури базова функционалност за една таква система:</p>
    <ul>
<li>Въвеждане на конкретни приходи и разходи</li>
<li>Въвеждане на периодични транзакции</li>
<li>Проследяване на движението за минали месеци и тенденциите в следващите</li>
</ul>
</article>